venv/
.env

# Ignore virtual environment directory
env/

# Ignore Python bytecode cache
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

.DS_Store

#Ignore Data folder which may have sensitive data
data/
